@import './reset.css';
@import './fonts.css';
@import './tokens.css';
@import './texts.css';

[theme~="light"] {
    --bg-color: var(--bg-color-light);
}

[theme~="dark"] {
    --bg-color: var(--bg-color-dark);
}


body {
    font-family: var(--main-font);
    background-color: var(--bg-color);
}